.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.app-logo {
  width: 50px;
  height: 50px;
}

.app-left {
  width: 250px;
  min-height: 100%;
  padding: 20px;
  border-right: 1px solid #eaeaea;
  display: flex;
  flex-direction: column;
}

.app-right{
  flex-grow: 1;
  min-height: 100%;
  overflow-y: scroll;
  padding: 20px;
}

.app-sidebar {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.app-sidebar .nav:last-of-type {
  margin-top: auto;
}

.nav-item {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

