swagger: '2.0'
info:
  description: ''
  version: 1.0.0
  title: Recall API
host: recallapp.io
basePath: /api
tags:
  - name: bookmarks
    description: 'Retrieve, search and create bookmarks'
  - name: tags
    description: Manage tags and related bookmarks
  - name: user
    description: Operations about user
schemes:
  - http
  - https
paths:
  /bookmarks:
    post:
      tags:
        - bookmarks
      summary: Add a new bookmark to the server
      description: ''
      operationId: createBookmark
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: Bookmark object to add
          required: true
          schema:
            $ref: '#/definitions/Bookmark'
      responses:
        '405':
          description: Invalid input
  '/bookmarks/{bookmarkId}':
    get:
      tags:
        - bookmarks
      summary: Retrieve bookmark by ID
      description: Returns a single bookmark
      operationId: getBookmarkById
      produces:
        - application/json
      parameters:
        - name: bookmarkId
          in: path
          description: ID of bookmark to return
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/Bookmark'
        '400':
          description: Invalid ID supplied
        '404':
          description: Bookmark not found
    delete:
      tags:
        - bookmarks
      summary: Deletes a bookmark
      description: ''
      operationId: deleteBookmark
      produces:
        - application/json
      parameters:
        - name: api_key
          in: header
          required: false
          type: string
        - name: bookmarkId
          in: path
          description: Bookmark id to delete
          required: true
          type: integer
          format: int64
      responses:
        '204':
          description: Success
        '400':
          description: Invalid ID supplied
        '404':
          description: Bookmark not found
definitions:
  User:
    type: object
    properties:
      id:
        type: integer
        format: int64
      username:
        type: string
      email:
        type: string
      password:
        type: string
  Tag:
    type: object
    required:
      - label
    properties:
      id:
        type: integer
        format: int64
      label:
        type: string
        example: Football
      description:
        type: string
        example: Sports articles and websites
  Bookmark:
    type: object
    required:
      - title
      - url
    properties:
      id:
        type: integer
        format: int64
      title:
        type: string
        example: Learn X in Y
      url:
        type: string
        example: 'https://learnxinyminutes.com/'
      tags:
        type: array
        items:
          $ref: '#/definitions/Tag'
  ApiResponse:
    type: object
    properties:
      code:
        type: integer
        format: int32
      type:
        type: string
      message:
        type: string
