/**
 * TODO: dont use import
 */
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,700');
@import url(/public/spectre.min.css);
@import url(/public/spectre-icons.min.css);
@import url(/public/spectre-exp.min.css);

body, html {
  height: 100%;
}

body {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  background-color: #fbfbfb;
}

.wrapper {
  max-width: 1400px;
  padding: 10px;
  background-color: white;
  height: 100%;
}

.vh {
  height: 100%;
}

.content-area {
  height: 100%;
  overflow: hidden;
}

.logo {
  display: block;
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

* {
  box-sizing: border-box;
}

.rc-sidebar {
  border-right: 1px solid #eaeaea;
  height: 100%;
}

.rc-sidebar .nav {
  margin-top: 2rem;
}

.rc-sidebar .nav-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: .5rem;
}

.rc-sidebar .nav-item.active > a {
  border-left: 2px solid #eaeaea;
}

.rc-sidebar .nav-item .icon {
  width: .75em;
  height: .75em;
}

.rc-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rc-bm-list {
  height: calc(100% - 48px - 61px);
  overflow-y: scroll;
  overflow-x: hidden;
}

.rc-bookmark {
  padding: 4px 0;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  align-items: center;
}

.rc-bm-title a {
  text-decoration: none;
  color: #1d1123;
  font-weight: bold;
}

.rc-bm-title a:hover {
  opacity: .9;
}

.rc-bm-details {
  font-size: 12px;
}

.rc-pagination-container {
  background: white;
  height: 48px;
  overflow: hidden;
}

.rc-bm-favicon {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.rc-empty {
  background: #f8f9fa;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.rc-flex-center {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.rc-flex-center .columns {
  width: 100%;
}

.rc-import-help-block {
  padding: 1rem;
  border: 1px solid #eaeaea;
  margin-bottom: .8rem;
  font-size: 14px;
  line-height: 1.3;
}

.rc-tag {
  border: 1px solid #eaeaea;
  padding: .4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .8rem;
}

.rc-tag a {
  font-weight: bold;
}

.rc-tag .rc-tag-marker {
  border-radius: 100%;
  width: .8rem;
  height: .8rem;
}

.rc-filter-bar {
  padding: 0;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: .8rem;
}

.webinfo-container {
  border: 1px solid #eaeaea;
  margin: 1rem 0;
  min-height: 100px;
}

.rc-link-preview {
  display: flex;
  height: 100%;
  min-height: 100px;
}

.rc-link-preview__info{
  padding: .5rem;
  overflow: hidden;
}

.rc-link-preview__image{
  outline: 1px solid #eaeaea;
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  background-image: url('/public/placeholder_favicon.png');
  background-size: 50px auto;
  background-position: 50%;
  background-repeat: no-repeat;
}

.rc-link-preview__error {
  align-self: center;
  width: 100%;
  text-align: center;
}
