@import url(/public/spectre.min.css);
@import url(/public/spectre-icons.min.css);
@import url(/public/spectre-exp.min.css);

body {
  font-size: 16px;
  background-color: #fbfbfb;
}

.wrapper {
  max-width: 800px;
  margin: 50px auto;
  padding: 40px;
  background-color: white;
  min-height: 600px;
}

.content-area {
  margin-top: 40px;
}

* {
  box-sizing: border-box;
}
