@import url(/public/spectre.min.css);
@import url(/public/spectre-icons.min.css);
@import url(/public/spectre-exp.min.css);

body { font-size: 16px;
  background-color: #fbfbfb;
}

.wrapper {
  max-width: 800px;
  margin: 50px auto;
  padding: 40px;
  background-color: white;
  min-height: 600px;
}

.content-area {
  margin-top: 40px;
}

.logo {
  display: block;
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

* {
  box-sizing: border-box;
}

.rc-bookmark {
  padding: 4px 0;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  align-items: center;
}

.rc-bm-title a {
  text-decoration: none;
  color: #1d1123;
  font-weight: bold;
}

.rc-bm-title a:hover {
  opacity: .9;
}
